// Place all the styles related to the Comics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0px;
  border: 2px solid #f8fad7;
}

.sizer {
  height:100px;
  width:100%;
}